#ignores
*.suo
*.csproj.user
*.user
*node_modules*
*bower_components*

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Pp]ackages/

*.mdf
*.ldf
*.gitattributes
*.log